<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="home.component.css">
    <script src="home.component.ts"></script>
    <!-- Bootstrap CSS -->

</head>

<body>

    <div class="navbar">
        <a href="events.component.html" title="All">All</a>
        <a href="../music/music.component.html" title="Music">Music</a>
        <a href="../film/film.component.html" title="Film">Film</a>
        <a href="../tech/tech.component.html" title="Tech">Tech</a>
        <a href="../outdoors/outdoors.component.html" title="Outdoors">Outdoors</a>
        <a href="../sports/sports.component.html" title="Sports">Sports</a>
        <a href="../community/community.component.html" title="Community">Community</a>

    </div>


    <section data-description="">
        <div class="wrapper">
            <h1 class="alpha lato thin thick-header-line uppercase ls-small">
                Live & Local
            </h1>
            
        </div>
    </section>

    <br>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
    <div class="card">

    </div>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>

    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css'>
    <title>Web Scraper</title>
    <!-- //res.render  send the html t the -->
</body>
</html>