<!DOCTYPE html>
<html lang="en">
<head>
<title>Events Scraper</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
 
  
  <div class="header">
    <h1>Live & Local</h1>
    <p>Finding local events near you!</p>
  </div>
  
  
  <div class="row">
    <div class="side">
      <h2>About Event Scraper</h2>
      
      <p>This event scraper will allow you to scrape local events from  the event brite webite in order to see events that are closest to you!</p>
     
    </div>
  </div>
  
  
 
  